{% extends 'Client/Layouts/layouts.twig' %}

{% block title %}FAQ{% endblock %}

{% block content %}
<!-- Main Content -->
<div id="faq-content" class="container">
    <h2>FAQ (Frequently Asked Question)</h2>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion">
                {% for info in data %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><strong>{{ info.question }}</strong></a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ info.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- /.panel-group -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}