{% extends 'Client/Layouts/layouts.twig' %}

{% block title %}Success Upload{% endblock %}
{% block content %}
<div id="suc" class="container">
	 <div class="panel panel-default">       
	                <div class="panel-body">
	                        <div class="alert alert-success">
	                            <h4>Terimakasih Artikel Anda sudah Terpublish</h4>
	                        </div>
	            	</div>
	</div>	
</div>
{% endblock %}