@font-face{
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face{
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
}

body {
    font-family: 'Lato', serif;
}

#admin-page {
    font-family: 'Lato', sans-serif;
    font-weight:300;
}

#page-wrapper {
    margin-top: 25px !important;
}

.format-name {
    text-transform: capitalize;
}

.popover {
    font-family:'Lato', serif;
}

.popover {
    top:60px !important;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

.popover-content {
    /*width:100px;*/
}

.popover-content a {
    color: #000 !important;
    text-decoration: none;
    padding:5px 20px !important;
    width: 200px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease ;
    -ms-transition: all .4s ease ;
    -o-transition: all .4s ease ;
    transition: all .4s ease ;
}

.popover-content a:hover {

    text-decoration: none;
    background: #eeeeee !important;
    border:1px solid transparent !important;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease ;
    -ms-transition: all .4s ease ;
    -o-transition: all .4s ease ;
    transition: all .4s ease ;
}

.popover-title {
    text-align: center;
}

.label {
    font-size:1em;
}

.image-profile {
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    object-fit: cover;
    max-height:125px;
    max-width:125px;
    min-height:125px;
    min-width:125px;
}

.form-group small {
    color:#999;
    font-weight:300;
}

output {
    border:2px dashed #999;
    padding:5px;
}

.file-area {
    width: 100%;
    position: relative;
    border: 2px dashed #999;
}
.file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.file-area .file-dummy {
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px dashed rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: background 0.3s ease-in-out;
}
.file-area .file-dummy .success {
    display: none;
}
.file-area:hover .file-dummy {
    background: rgba(255, 255, 255, 0.1);
}
.file-area input[type=file]:focus + .file-dummy {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline: -webkit-focus-ring-color auto 5px;
}
.file-area input[type=file]:valid + .file-dummy {
    border-color: rgba(0, 255, 0, 0.4);
    background-color: rgba(0, 255, 0, 0.3);
}
.file-area input[type=file]:valid + .file-dummy .success {
    display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
    display: none;
}

.thumb {
    max-height: 117px;
    min-height:117px;
    min-width:117px;
    max-width: 117px;
    object-fit: cover;
    margin: 0 5px 5px 0;
}

.pic-wrap {
    width: 100%;
    padding:20px 0;
    text-align: center;
    background-color: #ddd;
}

.pic-inner:not(:nth-child(1)) {
    margin-left:5px;
}

.pic-inner, .pic-preview {
    display:inline-block;
}

.pic-inner {
    vertical-align: middle;
}

.img-preview {
    height:126px;
    width: 126px;
    min-height:126px;
    max-height:126px;
    min-width:126px;
    max-width:126px;
    object-fit: cover;
    -o-object-fit: cover;
}

.pic-preview {
    vertical-align: top;
    cursor: pointer;
}

.pic-inner label {
    border:2px dashed #666;
    cursor: pointer;
    padding:46.25px 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    display: inline-block;
}

.pic-inner label:hover {
    background-color: #aaa;
    border:2px dashed #ddd;
}





/*.pic-input {*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*background-image: url('../images/add.svg');*/
    /*position: absolute;*/
    /*margin-left:-72px;*/
    /*margin-top:-10px;*/
/*}*/