@font-face{
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face{
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
}

body {
    font-family: 'Lato', serif;
}

#admin-page {
    font-family: 'Lato', sans-serif;
    font-weight:300;
}

#page-wrapper {
    margin-top: 25px !important;
}

.format-name {
    text-transform: capitalize;
}

.popover {
    font-family:'Lato', serif;
}

.popover {
    top:60px !important;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

.popover-content {
    /*width:100px;*/
}

.popover-content a {
    color: #000 !important;
    text-decoration: none;
    padding:5px 20px !important;
    width: 200px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease ;
    -ms-transition: all .4s ease ;
    -o-transition: all .4s ease ;
    transition: all .4s ease ;
}

.popover-content a:hover {

    text-decoration: none;
    background: #e74c3c !important;
    color:  #fff !important;
    border:1px solid transparent !important;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease ;
    -ms-transition: all .4s ease ;
    -o-transition: all .4s ease ;
    transition: all .4s ease ;
}

.popover-title {
    text-align: center;
}

.label {
    font-size:1em;
}

.image-profile {
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    object-fit: cover;
    max-height:125px;
    max-width:125px;
    min-height:125px;
    min-width:125px;
}

.form-group small {
    color:#999;
    font-weight:300;
}

output {
    border:2px dashed #999;
    padding:5px;
}

.thumb {
    max-height: 117px;
    min-height:117px;
    min-width:117px;
    max-width: 117px;
    object-fit: cover;
    margin: 0 5px 5px 0;
}

.input-container {
    padding:20px;
    border:2px dashed #aaa;
    text-align: center;
}

.input-inner {
    text-align: center;
    width: auto;
    display: inline;
}

.img-preview {
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    object-fit: cover;
}

#add-images {
    margin-top:20px;
}

.input-inner label {
    margin-left:-70px;
    position: absolute;
    margin-top:46px;
    height:100%;
    cursor: pointer;
}

.input-error {
    border:2px dashed #e74c3c !important;
}

.alert {
    border-radius: 0;
}

.label-profile {
    position: relative;
    cursor: pointer;
    display: block;
}

.upload-container {
    border:1px dashed #aaa;
    padding:10px;
}

.btn-upload {
    background-color: #3498db;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    color: #fff;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-upload:hover {
    background-color: #286ea0;
    color: #fff;
}

.profile .col-md-9 {
    padding-bottom:20px;
    background-color: #fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.profile .panel-default {
    border:0;
}

.img-ktp {
    max-height:145px;
    height:100%;
    max-width:360px;
    width:100%;
    object-fit: cover;
}

form label {
    cursor: pointer;
}

.img-responsive {
    object-fit: cover;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.upper-wrapper {
    margin-top: 20px;
}

.upper-wrapper .inner-wrapper {
    max-height: 450px;
    min-height: 450px;
    height: 450px;
}

.barang-listing {
    background-color: #eee;
    padding:0;
    border-radius: 3px;
    box-shadow: 0 0 15px 0 #ccc;
    height: 450px;
}

.img-wrapper {
    padding:15px;
    height: 200px;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.barang-info {
    padding:0 17px;
}

.barang-info .barang-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.12em;
    word-wrap: break-word;
    text-align: center;
    height: 40px;
    overflow: hidden;
    margin-bottom: 25px;
}

.barang-info .barang-description {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: .8em;
    color:#1a1a1a;
    text-align: justify;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
}

.barang-info .barang-date {
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-size: 75%;
    color: #777;
    text-align: center;
}

.barang-footer {
    padding: 0 14px 14px;
    position: absolute;
    bottom: 0;
    width: 90%;
    margin: 0 auto;
}

.btn-red {
    background-color: transparent;
    border: 1px solid #e74c3c;
    text-transform: uppercase;
    font-size: .9em;
    color: #000;
    transition:all .2s ease;
    font-weight: 700;
    line-height: 1.7em;
    border-radius: 0;
}

.btn-red:hover {
    background-color: #e74c3c;
    color: #fff;
    transition:all .2s ease;
}

.home__barang-wrapper {
    background-color: #fff;
}

.home__img-barang {
    width: 100px;
    height: 100px;
}

.home__img-barang img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home__info {
    padding:10px 15px;
    word-wrap: break-word;
    height: 90px;
}

.home__info .home__title {
    font-size: .9em;
    font-weight: 700;
    height: 20px;
    overflow: hidden;
    text-transform: uppercase;
    color: #000;
}

.home__info .home__barang-footer {
    position: absolute;
    bottom: 0;
}

.home__info .label {
    font-size: .7em;
    text-transform: uppercase;
    width: 100%;
}