@font-face{
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face{
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face{
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
}

body {
    font-family: 'Lato', serif;
}

#admin-page {
    font-family: 'Lato', sans-serif;
    font-weight:300;
}

#page-wrapper {
    margin-top: 25px !important;
}

.format-name {
    text-transform: capitalize;
}

.popover {
    font-family:'Lato', serif;
}

.popover {
    top:60px !important;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

.popover-content {
    /*width:100px;*/
}

.popover-content a {
    color: #000 !important;
    text-decoration: none;
    padding:5px 20px !important;
    width: 200px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease ;
    -ms-transition: all .4s ease ;
    -o-transition: all .4s ease ;
    transition: all .4s ease ;
}

.popover-content a:hover {

    text-decoration: none;
    background: #eeeeee !important;
    border:1px solid transparent !important;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease ;
    -ms-transition: all .4s ease ;
    -o-transition: all .4s ease ;
    transition: all .4s ease ;
}

.popover-title {
    text-align: center;
}

.label {
    font-size:1em;
}

.image-profile {
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    object-fit: cover;
    max-height:125px;
    max-width:125px;
    min-height:125px;
    min-width:125px;
}

.form-group small {
    color:#999;
    font-weight:300;
}

output {
    border:2px dashed #999;
    padding:5px;
}

.thumb {
    max-height: 117px;
    min-height:117px;
    min-width:117px;
    max-width: 117px;
    object-fit: cover;
    margin: 0 5px 5px 0;
}

.input-container {
    padding:20px;
    border:2px dashed #aaa;
    text-align: center;
}

.input-inner {
    text-align: center;
    width: auto;
    display: inline;
}

.img-preview {
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    object-fit: cover;
}

#add-images {
    margin-top:20px;
}

.input-inner label {
    margin-left:-70px;
    position: absolute;
    margin-top:46px;
    height:100%;
    cursor: pointer;
}

.input-error {
    border:2px dashed #e74c3c !important;
}

.alert {
    border-radius: 0;
}